# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# profiling files
chrome-profiler-events*.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Project exclude paths
/src/app/containers/default-layout/default-footer/default-footer.component.js
/src/app/containers/default-layout/default-footer/default-footer.component.spec.js
/src/app/containers/default-layout/default-header/default-header.component.js
/src/app/containers/default-layout/default-header/default-header.component.spec.js
/src/app/containers/default-layout/_nav.js
/src/app/containers/default-layout/default-layout.component.js
/src/app/containers/default-layout/index.js
/src/app/containers/index.js
/src/app/icons/icon-subset.js
/src/app/views/base/accordion/accordions.component.js
/src/app/views/base/accordion/accordions.component.spec.js
/src/app/views/base/breadcrumbs/breadcrumbs.component.js
/src/app/views/base/breadcrumbs/breadcrumbs.component.spec.js
/src/app/views/base/cards/cards.component.js
/src/app/views/base/cards/cards.component.spec.js
/src/app/views/base/carousels/carousels.component.js
/src/app/views/base/carousels/carousels.component.spec.js
/src/app/views/base/collapses/collapses.component.js
/src/app/views/base/collapses/collapses.component.spec.js
/src/app/views/base/list-groups/list-groups.component.js
/src/app/views/base/list-groups/list-groups.component.spec.js
/src/app/views/base/navs/navs.component.js
/src/app/views/base/navs/navs.component.spec.js
/src/app/views/base/paginations/paginations.component.js
/src/app/views/base/paginations/paginations.component.spec.js
/src/app/views/base/placeholders/placeholders.component.js
/src/app/views/base/placeholders/placeholders.component.spec.js
/src/app/views/base/popovers/popovers.component.js
/src/app/views/base/popovers/popovers.component.spec.js
/src/app/views/base/progress/progress.component.js
/src/app/views/base/progress/progress.component.spec.js
/src/app/views/base/spinners/spinners.component.js
/src/app/views/base/spinners/spinners.component.spec.js
/src/app/views/base/tables/tables.component.js
/src/app/views/base/tables/tables.component.spec.js
/src/app/views/base/tabs/tabs.component.js
/src/app/views/base/tabs/tabs.component.spec.js
/src/app/views/base/tooltips/tooltips.component.js
/src/app/views/base/tooltips/tooltips.component.spec.js
/src/app/views/base/base.module.js
/src/app/views/base/base-routing.module.js
/src/app/views/buttons/button-groups/button-groups.component.js
/src/app/views/buttons/button-groups/button-groups.component.spec.js
/src/app/views/buttons/buttons/buttons.component.js
/src/app/views/buttons/buttons/buttons.component.spec.js
/src/app/views/buttons/dropdowns/dropdowns.component.js
/src/app/views/buttons/dropdowns/dropdowns.component.spec.js
/src/app/views/buttons/buttons.module.js
/src/app/views/buttons/buttons-routing.module.js
/src/app/views/charts/charts.component.js
/src/app/views/charts/charts.component.spec.js
/src/app/views/charts/charts.module.js
/src/app/views/charts/charts-routing.module.js
/src/app/views/dashboard/dashboard.component.js
/src/app/views/dashboard/dashboard.module.js
/src/app/views/dashboard/dashboard-charts-data.js
/src/app/views/dashboard/dashboard-routing.module.js
/src/app/views/forms/checks-radios/checks-radios.component.js
/src/app/views/forms/checks-radios/checks-radios.component.spec.js
/src/app/views/forms/floating-labels/floating-labels.component.js
/src/app/views/forms/floating-labels/floating-labels.component.spec.js
/src/app/views/forms/form-controls/form-controls.component.js
/src/app/views/forms/form-controls/form-controls.component.spec.js
/src/app/views/forms/input-groups/input-groups.component.js
/src/app/views/forms/input-groups/input-groups.component.spec.js
/src/app/views/forms/layout/layout.component.js
/src/app/views/forms/layout/layout.component.spec.js
/src/app/views/forms/ranges/ranges.component.js
/src/app/views/forms/ranges/ranges.component.spec.js
/src/app/views/forms/select/select.component.js
/src/app/views/forms/select/select.component.spec.js
/src/app/views/forms/validation/validation.component.js
/src/app/views/forms/validation/validation.component.spec.js
/src/app/views/forms/forms.module.js
/src/app/views/forms/forms-routing.module.js
/src/app/views/icons/coreui-icons.component.js
/src/app/views/icons/icons.module.js
/src/app/views/icons/icons-routing.module.js
/src/app/views/notifications/alerts/alerts.component.js
/src/app/views/notifications/alerts/alerts.component.spec.js
/src/app/views/notifications/badges/badges.component.js
/src/app/views/notifications/badges/badges.component.spec.js
/src/app/views/notifications/modals/modals.component.js
/src/app/views/notifications/modals/modals.component.spec.js
/src/app/views/notifications/toasters/toast-simple/toast.component.js
/src/app/views/notifications/toasters/toast-simple/toast.component.spec.js
/src/app/views/notifications/toasters/toast-simple/toast-sample-icon.component.js
/src/app/views/notifications/toasters/toasters.component.js
/src/app/views/notifications/toasters/toasters.component.spec.js
/src/app/views/notifications/notifications.module.js
/src/app/views/notifications/notifications-routing.module.js
/src/app/views/pages/login/login.component.js
/src/app/views/pages/login/login.component.spec.js
/src/app/views/pages/page404/page404.component.js
/src/app/views/pages/page404/page404.component.spec.js
/src/app/views/pages/page500/page500.component.js
/src/app/views/pages/page500/page500.component.spec.js
/src/app/views/pages/register/register.component.js
/src/app/views/pages/register/register.component.spec.js
/src/app/views/pages/pages.module.js
/src/app/views/pages/pages-routing.module.js
/src/app/views/theme/colors.component.js
/src/app/views/theme/theme.module.js
/src/app/views/theme/theme-routing.module.js
/src/app/views/theme/typography.component.js
/src/app/views/widgets/widgets/widgets.component.js
/src/app/views/widgets/widgets/widgets.component.spec.js
/src/app/views/widgets/widgets-brand/widgets-brand.component.js
/src/app/views/widgets/widgets-brand/widgets-brand.component.spec.js
/src/app/views/widgets/widgets-dropdown/widgets-dropdown.component.js
/src/app/views/widgets/widgets-dropdown/widgets-dropdown.component.spec.js
/src/app/views/widgets/widgets-e/widgets-e.component.js
/src/app/views/widgets/widgets-e/widgets-e.component.spec.js
/src/app/views/widgets/widgets.module.js
/src/app/views/widgets/widgets-routing.module.js
/src/app/app.component.js
/src/app/app.module.js
/src/app/app-routing.module.js
/src/components/docs-callout/docs-callout.component.js
/src/components/docs-callout/docs-callout.component.spec.js
/src/components/docs-example/docs-example.component.js
/src/components/docs-example/docs-example.component.spec.js
/src/components/docs-link/docs-link.component.js
/src/components/docs-link/docs-link.component.spec.js
/src/components/docs-components.module.js
/src/components/index.js
/src/components/public-api.js
/src/test/app.component.spec.js
/src/main.js
/src/test.js